# pycharm
.idea

# netbeans
nbproject
build
lib/cachedir
build.xml
tmp

# log files
log/*log_*
log/*.log

# build and run files
build_log.txt
build_out.txt
manifest.txt
*.class
RssSucker.jar
pid.txt
run_output.txt
loop_output.txt

# database connection settings
src/META-INF/persistence.xml

# local and test settings
config/rsssucker.properties
mediadef.txt
config/local/**

# python, eclipse pydev
.project
.pydevproject
*.pyc
.ipynb_checkpoints

#data_analysis/**/*.txt

/dist/

# files with host data_analysis
scripts/*.txt
