nbproject
build
lib/cachedir
log/**
build.xml

# database connection settings
src/META-INF/persistence.xml

# local and test settings
config/rsssucker.properties
mediadef.txt
config/local/**

# pydev project files
newspaper/.*

#data_analysis/**/*.txt

/dist/