nbproject
build
lib/cachedir
log/*log_*
build.xml

# build and run files
build_log.txt
build_out.txt
manifest.txt
*.class
RssSucker.jar
pid.txt
run_output.txt
loop_output.txt

# database connection settings
src/META-INF/persistence.xml

# local and test settings
config/rsssucker.properties
mediadef.txt
config/local/**

# pydev project files
.project
.pydevproject

#data_analysis/**/*.txt

/dist/

# files with host data_analysis
scripts/*.txt