# feeds refresh interval, in minutes
refresh_interval = 30

# newspaper
newspaper_interface = /data/code/RssSucker/newspaper/console_interface.py
python_command = python

# mediadef
mediadef_file = /data/code/RssSucker/config/mediadef.txt

num_threads = 10
num_npapers = 10