# feeds refresh interval, in minutes
refresh_interval = 30

# newspaper
newspaper_interface = newspaper/console_interface.py
python_command = python
newspaper_language = en

# mediadef
mediadef_file = config/mediadef/mediadef.txt

num_threads = 10
num_npapers = 10

# loop restart interval, in minutes
restart_interval = 20

# database connection
db_url = localhost/rsssucker_devel
db_username = rsssucker
db_password = rsssucker

# feed reading
user_agent = "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.120 Safari/537.36"

# pauses after the reads, in miliseconds, to ovoid bombarding the servers with requests
feed_read_pause = 250
article_read_pause = 250